.tagList {
  padding: 2px 0;
  display: flex;
}
// .tag {
//   font-size: 13px;
//   background: #eff2f6;
//   color: #475482;
//   border-radius: 2px;
//   padding: 0 6px;
//   margin: 0 2px;
// }
.tag {
  font-size: 13px;
  margin: 0 4px;
  color: #9a9a9a;
}
.tag:first-child {
  margin-left: 0;
}