.sidebar {
  width: 330px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  display: none;
  overflow: auto;
  box-shadow: -2px 3px 6px rgba(0,0,0,0.05);
  z-index: 100;
}

.actions {
  width: 100%;
  display: flex;
  padding: 4px;
  border-bottom: 1px solid #f3f1f4;
}

.open {
  display: block;
}

.content {
  padding: 20px;
}